<!doctype html>
<!-- 
    Author: Xan Gutierrez
    Date: 2015-07-28
-->
<html data-ng-app="">

<head>
    <title></title>
    <meta charset="utf-8" />
</head>

<body data-ng-init="names=['John Smith', 'John Doe', 'Jane Doe']">

    <div class="container">

        <input type="text" data-ng-model="name">{{name}}

        <ul>
            <li data-ng-repeat="personName in names">{{personName}}</li>
        </ul>
    </div>

    <script src="bower_components/angular/angular.min.js"></script>
</body>

</html>